/*header*/
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "OpenSans Light";
  src: url("../fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: "OpenSans SemiBold";
  src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-style: normal; }

@font-face {
  font-family: "OpenSans Regular";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: "Lobster";
  src: url("../fonts/lobster-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

* {
  padding: 0;
  margin: 0; }

.body {
  position: absolute; }

.h1 {
  font-family: "Lobster", Arial, sans-serif;
  font-size: 60px;
  color: #0054a4; }

.arrow {
  color: white;
  position: absolute;
  top: -1px;
  left: 140px; }

.arrow1 {
  color: white;
  position: absolute;
  top: 118px;
  left: 193px; }

.arrow3 {
  color: white;
  position: absolute;
  top: 118px;
  left: 375px; }

.top-header {
  width: 100%;
  height: 768px;
  background: dodgerblue; }

.main-wrapper {
  max-width: 1600px;
  margin: 0 auto;
  color: #0054a4;
  position: relative; }

.social {
  background: #0054a4;
  height: 30px; }

.wrapper {
  position: relative;
  max-width: 1200px;
  height: inherit;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-content: center; }

.menu li a {
  text-decoration: none;
  color: white;
  margin-right: 18px; }

.menu {
  list-style: none;
  display: flex;
  margin-top: 6px; }

.menu-main {
  height: 95px; }
  .menu-main li a {
    text-decoration: none;
    font-family: 'OpenSans Light';
    font-size: 15px;
    color: black;
    margin-right: 2px;
    padding: 5px 10px;
    box-sizing: border-box;
    line-height: 1;
    border: 1px solid transparent; }
    .menu-main li a:hover {
      background: #eeeeee;
      color: black;
      border-radius: 23px;
      border: 1px solid #0054a4; }

.menu-items {
  list-style: none;
  display: flex; }

.banner {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: contain; }

.b-donate {
  background: #f15b4f;
  height: 46px;
  width: 162px;
  color: white;
  border-radius: 23px;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
  margin-left: 20px;
  position: relative; }

.b-donate2 {
  display: none;
  background: #f15b4f;
  height: 46px;
  width: 162px;
  color: white;
  border-radius: 23px;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
  margin-left: 20px;
  position: relative; }

.b-donate:hover {
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.43); }

.wrapper2 {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.dropdown-active {
  display: block !important;
  position: absolute;
  right: 195px;
  top: 90px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 20; }
  .dropdown-active li {
    float: none;
    color: black;
    padding: 0;
    text-decoration: none;
    display: block;
    text-align: left; }
    .dropdown-active li a {
      display: inline-block;
      width: 100%;
      padding: 12px 16px;
      border: none; }
      .dropdown-active li a:hover {
        border: none;
        border-radius: 0px; }

.You-can {
  padding: 0 31px;
  width: 487px;
  position: absolute;
  z-index: 2;
  top: -442px; }
  .You-can h1 {
    font-family: Lobster, Arial, 'sans-serif';
    font-size: 50px;
    font-weight: 200;
    color: #0054a4; }

.button-link {
  background: #f15b4f;
  height: 46px;
  width: 162px;
  border: none;
  border-radius: 23px;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  color: white; }
  .button-link:hover {
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.43); }

.button-blue {
  background: #0054a4; }

.learn-donate {
  display: flex;
  justify-content: flex-start; }

.about-cancer {
  margin: 15px 0 28px 0;
  color: black; }

/*green column*/
.fon {
  position: relative;
  z-index: 5;
  top: -70px; }

.green {
  height: 165px;
  width: 375px;
  background: #6fbd2a;
  border-radius: 23px;
  display: flex;
  align-items: center;
  text-decoration: none;
  list-style: none;
  margin-right: 37px;
  margin-bottom: 37px; }
  .green:hover {
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.43); }

.circle {
  background: white;
  border-radius: 50%;
  height: 73px;
  width: 73px;
  margin: 10px;
  top: -10px;
  color: #6fbd2a;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  text-decoration: none;
  list-style: none; }

.donate-green-column {
  margin: 20px;
  color: white; }

.fon a {
  text-decoration: none; }

.header-green {
  display: flex;
  justify-content: space-between;
  width: 235px;
  list-style: none; }
  .header-green .h2 {
    padding: 20px; }
    .header-green .h2 .arrow4 {
      margin-left: 50px; }
      .header-green .h2 .arrow4 .line {
        height: 1px;
        width: 100px;
        background: white; }

.description1 {
  width: 235px;
  margin-top: 10px; }

.header-green1 {
  margin-bottom: 10px;
  font-family: "Lobster", Arial, sans-serif;
  font-weight: 100; }

/*green column*/
.fon {
  display: flex; }

/*pink*/
.pink {
  height: 165px;
  width: 375px;
  background: #f15b4f;
  border-radius: 23px;
  display: flex;
  align-items: center;
  text-decoration: none;
  list-style: none;
  margin-right: 37px;
  margin-bottom: 37px; }

.pink:hover {
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.43); }

.circle2 {
  background: white;
  border-radius: 50%;
  height: 73px;
  width: 73px;
  margin: 10px;
  top: -10px;
  color: #f15b4f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  text-decoration: none;
  list-style: none; }

.donate-green-column {
  margin: 20px;
  color: white; }

.fon a {
  text-decoration: none; }

.header-pink {
  display: flex;
  justify-content: space-between;
  width: 235px;
  list-style: none; }

.h2 {
  padding: 20px;
  font-family: "Lobster", Arial, sans-serif;
  font-weight: 100; }

.arrow4 {
  margin-left: 50px; }

.line {
  height: 1px;
  width: 100px;
  background: white; }

.description2 {
  width: 235px;
  margin-top: 10px; }

.header-pink1 {
  margin-bottom: 10px;
  font-family: "Lobster", Arial, sans-serif;
  font-weight: 100; }

/*pink*/
/*blue*/
.blue {
  height: 165px;
  width: 375px;
  background: #0054a4;
  border-radius: 23px;
  display: flex;
  align-items: center;
  text-decoration: none;
  list-style: none;
  margin-right: 37px; }

.blue:hover {
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.43); }

.circle3 {
  background: white;
  border-radius: 50%;
  height: 73px;
  width: 73px;
  margin: 10px;
  top: -10px;
  color: #0054a4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  text-decoration: none;
  list-style: none; }

.donate-green-column {
  margin: 20px;
  color: white; }

.fon a {
  text-decoration: none; }

.header-pink {
  display: flex;
  justify-content: space-between;
  width: 235px;
  list-style: none; }

.h2 {
  padding: 20px; }

.arrow4 {
  margin-left: 50px; }

.line {
  height: 1px;
  width: 100px;
  background: white; }

.description2 {
  width: 235px;
  margin-top: 10px; }

.header-pink1 {
  margin-bottom: 10px; }

.wrapper3 {
  position: relative;
  max-width: 1200px;
  height: inherit;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-content: center; }

@media screen and (max-width: 768px) {
  .fon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0; } }

@media screen and (max-width: 768px) {
  .wrapper3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto; } }

.burger-menu {
  display: none; }

@media screen and (max-width: 1200px) {
  .menu-items {
    display: none;
    transition: 0.3s; }
  .burger-menu {
    display: flex;
    color: #a8a8a8;
    font-size: 24px; } }

.section-header {
  text-align: center;
  font-family: Lobster, Arial, 'sans-serif';
  font-size: 40px;
  color: #232323;
  margin: 20px; }

.section-description {
  text-align: center;
  font-size: 16px;
  font-family: 'OpenSans Regular';
  max-width: 600px;
  margin: 0 auto;
  color: #a8a8a8; }

.card-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.card {
  flex: 0 1 calc(25% - 1em);
  display: flex;
  flex-flow: column nowrap;
  min-width: 250px;
  margin: 20px auto; }
  .card img {
    display: block;
    margin: auto; }

.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px; }
  .content-wrapper .about-text-content {
    text-align: center;
    padding: 50px;
    font-family: Lobster, Arial, 'sans-serif'; }
  .content-wrapper .about-content-blue {
    color: #0054a4;
    font-size: 38px; }
  .content-wrapper .about-content-grey {
    color: #a7a7a7;
    font-size: 22px; }

.events {
  background-color: #f1f1f1; }
  .events .section-header {
    padding-top: 40px;
    color: black; }
  .events .section-description {
    padding: 10px; }
  .events .events-card {
    background-color: #fff;
    border: 1px solid #dddddd;
    flex: 0 1 calc(30% - 1em);
    display: flex; }
    .events .events-card img {
      width: 100%;
      margin: 0; }
    .events .events-card .about-content-grey {
      color: #010101;
      font-weight: 200;
      padding-bottom: 20px; }
    .events .events-card .about-content-description {
      color: #a8a8a8;
      font-size: 14px;
      font-family: 'OpenSans Regular'; }
    .events .events-card .about-content-date {
      font-family: 'OpenSans Regular';
      font-size: 14px;
      padding: 10px;
      justify-content: space-around;
      align-items: flex-end; }
      .events .events-card .about-content-date .colortext {
        color: blue; }
    .events .events-card .events-img-wrapper {
      position: relative; }
    .events .events-card .mini-logo {
      width: 70px;
      position: absolute;
      bottom: -35px;
      left: 50%;
      transform: translateX(-50%); }
  .events .events-button-group {
    font-size: 0;
    margin-top: auto; }
    .events .events-button-group a {
      border: 2px solid red;
      background-color: red;
      text-decoration: none;
      font-family: 'OpenSans SemiBold';
      font-size: 18px;
      border: none;
      display: inline-block;
      padding-top: 10px;
      padding-bottom: 10px;
      vertical-align: middle;
      overflow: hidden;
      text-decoration: none;
      color: inherit;
      background-color: inherit;
      text-align: center;
      cursor: pointer;
      white-space: nowrap;
      width: calc(50% - 2px);
      border: 1px solid #ddd; }
    .events .events-button-group .events-red-button {
      background-color: #f15b4f;
      color: #fff;
      border: 1px solid #f15b4f; }
    .events .events-button-group .events-white-button {
      background-color: #fff;
      color: #000;
      border-right: none; }

.video-wrapper {
  width: 100%; }
  .video-wrapper .video-item-wrapper {
    display: inline-block;
    width: calc(50% - 4px);
    margin: 0 auto; }
    .video-wrapper .video-item-wrapper p {
      font-size: 20px;
      margin-top: 20px; }

/* Slick Slider*/
.slider {
  width: 80%;
  margin: 100px auto; }

.slick-slide {
  margin: 0px 20px; }

.slick-slide img {
  width: 100%; }

.slick-prev:before,
.slick-next:before {
  color: #dddddd;
  font-size: 40px; }

.slick-prev,
.slick-next {
  height: 40px;
  width: 40px;
  border: 3px solid #dddddd;
  border-radius: 50%; }
  .slick-prev:hover,
  .slick-next:hover {
    border: 3px solid blue;
    border-top: 3px solid blue !important;
    border-right: 3px solid blue !important; }

.slick-prev:before {
  content: '';
  display: inline-block;
  margin-left: 5px;
  width: 10px;
  height: 10px;
  transform: rotate(-135deg);
  border-top: 3px solid #dddddd;
  border-right: 3px solid #dddddd; }

.slick-next:before {
  content: '';
  display: inline-block;
  margin-right: 5px;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  border-top: 3px solid #dddddd;
  border-right: 3px solid #dddddd; }

.slick-next {
  right: -50px;
  border-top: 3px solid #dddddd;
  border-right: 3px solid #dddddd; }

.slick-prev {
  left: -50px;
  border-top: 3px solid #dddddd;
  border-right: 3px solid #dddddd; }

.container-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  position: relative;
  background: #003b7b; }

.footer {
  background: url("http://www.jenniferwilks.org/img/footer-bg.jpg");
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: center; }

.footer-copiright {
  text-align: center;
  padding: 10px 0;
  background: #003b7b;
  color: rgba(255, 255, 255, 0.5); }

.footer-logo {
  padding: 70px 80px; }

.footer-social {
  color: #ffffff;
  margin: 30px;
  align-items: center;
  text-align: center;
  font-size: 20px; }

.footer-social i {
  padding: 10px; }

.footer-social i:hover {
  opacity: .5;
  transition: .3s; }

.footer .ul {
  list-style: none; }

.site-link {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 70px 20px;
  margin-left: 20px; }

.site-link li a {
  font-family: "Open Sans", sans-serif;
  color: rgba(255, 255, 255, 0.5);
  padding: 8px 0;
  font-size: 14px;
  text-decoration: none; }

.site-link ul li a:hover {
  color: white; }

.site-link p {
  font-family: "Lobster", sans-serif;
  color: white;
  font-size: 22px;
  line-height: 26px; }

.separator {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 30px 0 40px 0; }

.thick {
  background-color: #659a37;
  width: 54px;
  height: 5px; }

.thin {
  width: 79px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2); }

.adress-icon {
  color: #fff;
  margin-right: 15px;
  margin-top: 10px; }

.adress-text p {
  font-family: "Open Sans", sans-serif;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  margin: 0; }

.adress {
  display: flex; }

.phone {
  display: flex;
  margin-top: 20px; }

.phone-text p {
  font-family: "Open Sans", sans-serif;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  margin: 5px 0; }

.adress-text {
  display: flex;
  flex-direction: column; }

.footer-botton {
  width: 219px;
  height: 41px;
  line-height: 39px; }

.footer-botton p {
  font-family: "Open Sans", sans-serif;
  color: #fffafa;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 8px;
  margin-left: 40px; }

.footer-botton:hover {
  cursor: pointer;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.43);
  transition: all .2s; }

.burger {
  display: none; }

img {
  /*width: 100%;*/ }
